<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sign up</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'assets/images/home.png' %}" alt="" id="logo">
        </a>
        <a href="login">LOGIN</a>
    </header>
    <main>
        <div class="container">
    
            <form method="post", action="{% url 'signup' %}">
                {% csrf_token %}
                <img src="{% static 'assets/images/logo.png' %}" alt="" id="logo">
                <input type="text" name="username" id="" class="inputfield" placeholder="Name" required>
                <input type="email" name="email" id="" class="inputfield" placeholder="Email" required>
                <input type="password" name="password" id="" class="passwrd inputfield" placeholder="Password" required>
                <input type="password" name="password_cfrm" id="" class="passwrd inputfield" placeholder="Confirm Password" required>
                <p style="color:red;"> {{ error }} </p>
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>
        
        
    </main>
    <footer>
        <a href="" class="flinks">ATHMA</a>
        <a href="" class="flinks">EVENTS</a>
        <a href="" class="flinks">ABOUT</a>
        <a href="" class="flinks">HELP</a>
        <a href="" class="flinks">FAQ</a>
        <a href="" class="flinks">AWH ENGG</a>
        <a href="" class="flinks">AWH EVENTS</a>
    </footer>
</body>
</html>